@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.homeContainer {
  .bar {
    position: absolute;
    width: 12px;
    height: 115.91px;
    left: 143px;
    top: 182px;

    background: #ffce5c;
  }
  .bannerContainer {
    background-color: #003145;
    .bannerContent {
      display: flex;
      padding: 7rem 0rem;
      width: 74%;
      margin: auto;
      .bannerLeftContainer {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex-basis: 56%;
        h1 {
          font-size: 48px;
          color: #ffffff;
          line-height: 60px;
          font-weight: 600;
        }
        h2 {
          color: #ececec;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 20px;
          width: 37rem;
        }
        button {
          padding: 0.7rem;
          width: 198px;
          border-radius: 10px;
          cursor: pointer;
          h4 {
            color: #003145;
          }
        }
      }
      .bannerRightContainer {
        flex-basis: 45%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .aiDataContainer {
    background-color: #002a3b;
    .aiDataContent {
      width: 75%;
      margin: auto;
      padding: 4rem 0;
      display: flex;
      justify-content: space-between;
      .aiDataContentBox {
        display: flex;
        align-items: center;
        .line {
          width: 1px;
          height: 38px;
          background: #c4c4c4;
        }
      }
    }
  }
  .aiChallenge {
    padding: 5rem 0;
    .heading {
      font-weight: 700;
      font-size: 32px;
      text-align: center;
    }
    .aiChallenges {
      display: flex;
      width: 80%;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3.5rem auto;
    }
  }
  .challengesContainer {
    background-color: #002a3b;
    padding: 5rem 0;
    .heading {
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 4rem;
    }
    .challengeContent {
      display: flex;
      width: 82%;
      justify-content: center;
      margin: 0 auto;
      gap: 1rem;
    }
    .challengesTagContainer {
      display: flex;
      width: 64%;
      margin: 2rem auto;
      gap: 0.5rem;
    }
    .allChallengesContainer {
      background-color: #003145;
      padding: 4rem 0;
      .allChallengesSubContainer {
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
      }
    }
  }
}
