.tagContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: rgba(248, 249, 253, 0.49);
  border-radius: 30px;
  padding: 0.5rem 0.8rem;

  h3 {
    color: #ffffff;
    font-size: 14px;
  }
}
